next-socket-demo/node_modules
next-socket-demo/.next
backend-login/node_modules
backend-login/package-lock.json
node_modules
backend-api-demo/dist
nodejs-websocket-demo/package-lock.json
backend-api-demo/package-lock.json
nodejs-websocket-demo/logs
backend-job/logs
backend-api-demo/logs
